.scoreboard-container {
    font-size: 1.75rem;
    padding: 0 5vw;

    .scoreboard {
        display: flex;
        justify-content: space-evenly;
    }
    
    .new-game {
        width: fit-content;
        text-align: center;
        margin: auto;
    
        &:hover {
            cursor: pointer;
        }    
    }
}
