button {
    padding: 0 5vw;
    font-size: 3rem;
    background-color: #db1513;
    border: 20px solid hsl(48deg, 100%, 70%);
    border-radius: 20px;
    box-shadow: 2px 2px 20px #000;
    margin: 1vh 0;
    opacity: .85;
    
    &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 10px #000;
        opacity: 1;
    }
}