.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 10px;
    justify-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

