.card {
    // max-height: 475px;
    // max-width: 475px;
    width: 100%;
    height: auto;
    border: 20px solid hsl(48, 100%, 70%);
    border-radius: 20px;
    padding: 2.5vh 0;

    img {
        object-fit: contain;
        max-height: 300px; 
        max-width: 200px;
    }

    .loading {
        display: none;
    }

    .rotate {
        animation:spin .5s linear infinite;
        background: transparent !important;
    }
}

@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}