@font-face {
  font-family: 'Pokemon Solid';
  src: local('Pokemon Solid'), url('../src/assets/Pokemon Solid.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: .5rem;
  color: #ffcb05;
  text-shadow:  3px 3px 0 #193367,
                -1px -1px 0 #193367,  
                1px -1px 0 #193367,
                -1px 1px 0 #193367,
                1px 1px 0 #193367;
}

html {
  font-size: 75%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #db1513;
  /* font-size: 1.5rem; */
}
